page-confirmacao-pagamento {
    .item-md {
        margin: 1.1rem 8px 13px 0;
    }

    .card-header-md {
        font-size: 1.6rem;
        color: #1d75f8;
        padding: 1.0rem;
        padding-top: 1rem;
        padding: 10px 4px 6px;
        padding-top: 10px;
      }
}
